<%- partial('pagenav', {nav_head: __('current_page') + __('page_name.categories'), partial_path: 'post/category', archive_html: null}) %>
<article>
    <div class="card">
        <div class="card-content">
            <% if (item.photos && item.photos.length) { %>
                <%- partial('post/gallery') %>
            <% } %>

            <div class="article-title">
                <%- partial('post/title') %>
            </div>
            <%- partial('post/time') %>
            <%- partial('post/tag') %>
            <%- partial('post/tablecontents') %>

            <div class="entry <%= theme.color.link %>-link-context">
                <%- item.content %>
            </div>
        </div>
    </div>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="1" data-title="日历插件——选择性标记日期" data-url="http://chenjiaj.github.io/"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"chenjiajun"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->

</article>

<%- partial('plugin/comment') %>
